<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friendships</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex mt-4">
        <div class="card w-50 m-1">
            <h1 class="card-header">Friendships</h1>
            <div class="card-body">
            <table class="table">
                <thead  class="text-warning table-dark">      
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Friend</th>
                    </tr>
                </thead>
                <tbody>
                    {% for friendship in all_friendships %}
                        <tr>
                            <td>{{friendship.users_id}}</td>
                            <td>{{friendship.friend_id}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="col">
            <div class="row m-1">
                <div class="card">
                    <h1 class="card-header">Add User</h1>
                    <div class="card-body">
                        <form action='\addUser' method='post'  class="mt-4">
                            <div class="col">
                                <div class="mb-3 row">
                                    <label for="nameLable" class="col-sm col-form-label">First Name: </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="first_name" placeholder="" value="" required>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="nameLable" class="col-sm col-form-label">Last Name: </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="last_name" placeholder="" value="" required>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <button class="btn btn-success btn-lg btn-block mt-2" type="submit">Add User</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row m-1">
                <div class="card">
                    <h1 class="card-header">Create Friendship</h1>
                    <div class="card-body">
                        <form action='/newFriendship' method='post'  class="mt-4">
                            <div class="col">
                                <div class="mb-3 row">
                                    <label class="col-sm-2 col-form-label">User: </label>
                                    <div class="col-sm">
                                        <select class="form-select"  name="user_id">
                                            {% for a_user in all_users %}
                                                <option value="{{a_user.id}}">{{a_user.first_name}} {{a_user.last_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-2 col-form-label">Friend: </label>
                                    <div class="col-sm">
                                        <select class="form-select"  name="friend_id">
                                            {% for a_user in all_users %}
                                                <option value="{{a_user.id}}">{{a_user.first_name}} {{a_user.last_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-2 col-form-label"><!-- blank lable for alignment create button --></label>
                                    <div class="col-sm-10">
                                        <button class="btn btn-success btn-lg btn-block mt-2" type="submit">Create</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>