<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="h1 m-auto">
            Welcome {{session.first_name}} {{session.last_name}}!
        </div>
        <div class="d-flex">
            <div class="button">
                <a href="/recipes/new" class="btn btn-primary btn-lg m-2">Create</a>
            </div>
            <div class="button">
                <a href="/logout" class="btn btn-primary btn-lg m-2">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <p>These are the recipes</p>
        <table class="table">
            <thead  class="table-striped">      
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Under 30 Minutes?</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in all_recipes %}
                <tr>
                    <td scope="row"> {{recipe.name}}</td>
                    <td>{% if recipe.under30mins==1 %}
                            Yes
                        {% else: %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        <a href="/recipes/{{recipe.id}}" class="btn btn-primary">Show Instructions</a>
                        {% if recipe.users_id==session.id %}
                            <a href="/recipes/edit/{{recipe.id}}" class="btn btn-warning">Edit</a>
                            <a href="/recipes/delete/{{recipe.id}}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>