<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container bg-dark text-white p-4" style="width: 750px">
        <div class="d-flex justify-content-between">
            <h1 class="mb-3 text-warning" id='info'>Edit User Info</h1>
        </div>
        <form action='/users/{{user.id}}/edit' method='post'  class="mt-4">
            <div class="mb-3 row">
                <label for="nameLable" class="col-sm-2 col-form-label">ID: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control-plaintext bg-secondary text-white px-4" name="id" value="{{user.id}}" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="nameLable" class="col-sm-2 col-form-label">First Name: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="first_name" value="{{user.first_name}}" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="nameLable" class="col-sm-2 col-form-label">Last Name: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="last_name" value="{{user.last_name}}" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="nameLable" class="col-sm-2 col-form-label" >Email: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="email" value="{{user.email}}" required>
                </div>
            </div>
            <hr class="mb-4">
            <div><button class="btn btn-success btn-lg btn-block" type="submit">Update</button></div>
        </form>
        <a href="\users\{{user.id}}" class="btn btn-info btn-lg mt-3"> Back to User Info</a>
        <a href="\users" class="btn btn-primary btn-lg mt-3"> Back to HOME</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>